<div class="detail-container">
    <div class="inner-container flex-col" [ngStyle]="{'width': usingSidenav? '95%' : '85%'}">
        <div class="info-container card">
            <section class="details">
                <h1>{{ cosmetic.name }}</h1>
                <div class="flex-row">
                    <img class="type-icon" src="/assets/item-types/outfit.PNG" alt="Cosmetic type">
                    @if (cosmetic.series) {
                    <p [ngStyle]="{
                        'font-size': usingSidenav? '' : '1.25rem',
                        'background-image': seriesBackground? seriesBackground : 
                                    colorGradient.length > 0 ? 'linear-gradient' + '(-45deg,' + formattedGradient + ')' : 
                                    'linear-gradient(45deg, var(--' + cosmetic.rarity.value +'), transparent)',
                        'border': '0.18rem solid',
                        'border-color': this.colorGradient.length > 0 ? '#' + this.colorGradient[0] : 'var(--'+cosmetic.rarity.value+')',                        
                        'border-radius': '0.6rem'
                    }">{{ cosmetic.type.displayValue }} - {{
                        cosmetic.series.value }}</p>
                    } @else {
                    <p [ngStyle]="{
                        'font-size': usingSidenav? '' : '1.25rem',
                        'background-image': seriesBackground? seriesBackground : 
                                    colorGradient.length > 0 ? 'linear-gradient' + '(-45deg,' + formattedGradient + ')' : 
                                    'linear-gradient(45deg, var(--' + cosmetic.rarity.value +'), transparent)',
                        'border': '0.18rem solid',
                        'border-color': this.colorGradient.length > 0 ? '#' + this.colorGradient[0] : 'var(--'+cosmetic.rarity.value+')',                        
                        'border-radius': '0.6rem'
                        }">
                        {{ cosmetic.type.displayValue }} - {{cosmetic.rarity.value }}
                    </p>
                    }
                </div>
                <div class="details-area"
                    [ngStyle]="{'justify-content': usingSidenav? 'center': 'flex-start', 'column-gap': usingSidenav? '1rem' : '2rem'}">
                    <div class="img">
                        @if (cosmetic.images.icon) {
                        <img [className]="this.colorGradient.length == 0 ? 'item-img ' +cosmetic.rarity.value+'-img' : 'item-img'"
                            class="item-img" src={{cosmetic.images.icon}} alt="Icon" [ngStyle]="{
                                'background-image': seriesBackground? seriesBackground : 
                                    colorGradient.length > 0 ? 'linear-gradient' + '(-45deg,' + formattedGradient + ')' : 
                                    'linear-gradient(45deg, var(--' + cosmetic.rarity.value +'), transparent)',
                                'border-color': this.colorGradient.length > 0 ? '#' + this.colorGradient[0] : '',
                                'width': usingSidenav? '9rem': '15rem',
                            }">
                        } @else if (cosmetic.images.smallIcon) {
                        <img [className]="this.colorGradient.length == 0 ? 'item-img ' +cosmetic.rarity.value+'-img' : 'item-img'"
                            class="item-img" src={{cosmetic.images.smallIcon}} alt="Small icon" [ngStyle]="{
                        'background-image': seriesBackground? seriesBackground : 
                            colorGradient.length > 0 ? 'linear-gradient' + '(-45deg,' + formattedGradient + ')' : 
                            'linear-gradient(45deg, var(--' + cosmetic.rarity.value +'), transparent)',
                        'border-color': this.colorGradient.length > 0 ? '#' + this.colorGradient[0] : '',
                        'width': usingSidenav? '9rem': '15rem',
                    }">
                        }
                    </div>
                    <div class="flex-col">
                        <h2>Description</h2>
                        <p [ngStyle]="{'font-size': usingSidenav? '' : '1.25rem'}">{{ cosmetic.description }}</p>
                        <h2>Introduction</h2>
                        <p [ngStyle]="{'font-size': usingSidenav? '' : '1.25rem'}">{{ cosmetic.introduction?.text }}</p>
                    </div>
                </div>
            </section>
        </div>

        @if (cosmetic.images.featured) {
        <section [ngClass]="{'featured-area': !usingSidenav}" class="flex-col card">
            <h2>Featured image</h2>
            <div class="flex-row centered">
                <img class="featured" src={{cosmetic.images.featured}} alt="Featured image">
            </div>
        </section>
        }

        @if (cosmetic.variants || cosmetic.images.lego || cosmetic.images.bean) {
        <section class="flex-col card" [ngClass]="{'variant-area': !usingSidenav}">
            <h2>Variants</h2>
            <div class="flex-row gap centered">
                @for (variant of cosmetic.variants; track $index) {
                <div class="flex-row gap centered">
                    <div class="flex-col centered">
                        <h3>{{variant.type}}</h3>
                        <div class="flex-row gap centered">
                            @for (option of variant.options; track $index) {
                            <div class="flex-col centered">
                                <img src={{option.image}} alt="">
                                <p [ngStyle]="{'font-size': usingSidenav? '' : '1.25rem'}">{{option.name}}</p>
                            </div>
                            }
                        </div>
                    </div>
                </div>
                }

                @if (cosmetic.images.lego || cosmetic.images.bean) {
                <div class="flex-row centered gap">
                    <div class="flex-col centered">
                        <h3>Other gamemodes</h3>
                        <div class="flex-row gap">
                            @if (cosmetic.images.lego) {
                            <div class="flex-col centered">
                                <img src={{cosmetic.images.lego.small}} alt="">
                                <p [ngStyle]="{'font-size': usingSidenav? '' : '1.25rem'}">LEGO style</p>
                            </div>
                            }

                            @if (cosmetic.images.bean) {
                            <div class="flex-col centered">
                                <img src={{cosmetic.images.bean.small}} alt="">
                                <p [ngStyle]="{'font-size': usingSidenav? '' : '1.25rem'}">Bean style</p>
                            </div>
                            }
                        </div>
                    </div>
                </div>
                }
            </div>
        </section>
        }

        @if (cosmetic.set) {
        <section class="flex-col card" [ngClass]="{'set-area': !usingSidenav}">
            <h2>Set</h2>
            <p [ngStyle]="{'font-size': usingSidenav? '' : '1.25rem'}">{{ cosmetic.set.text }}</p>
            <div class="flex-row gap centered">
                @for (item of set; track $index) {
                
                <div class="flex-col centered">
                    @if (item.images.icon) {
                        <img src={{item.images.icon}} [className]="getGradientColors(item).length == 0 ? 'item-img ' +item.rarity.value+'-img related-item-img' : 'item-img related-item-img'" alt={{item.name}} 
                        [ngStyle]="{
                            'background-image': item.series?.image ? formatSeriesBackground(item) : 
                                getGradientColors(item).length > 0 ? 'linear-gradient' + '(-45deg,' + formatGradientColors(getGradientColors(item)) + ')' : 
                            'linear-gradient(45deg, var(--' + item.rarity.value +'), transparent)',
                            'border-color': getGradientColors(item).length > 0 ? '#' + getGradientColors(item)[0] : ''
                        }">
                    } @else if (item.images.smallIcon) {
                        <img src={{item.images.smallIcon}} [className]="getGradientColors(item).length == 0 ? 'item-img ' +item.rarity.value+'-img related-item-img' : 'item-img related-item-img'" alt={{item.name}} 
                        [ngStyle]="{
                            'background-image': item.series?.image ? formatSeriesBackground(item) : 
                                getGradientColors(item).length > 0 ? 'linear-gradient' + '(-45deg,' + formatGradientColors(getGradientColors(item)) + ')' : 
                            'linear-gradient(45deg, var(--' + item.rarity.value +'), transparent)',
                            'border-color': getGradientColors(item).length > 0 ? '#' + getGradientColors(item)[0] : ''
                        }">
                    }
                    <p class="set-item-name" [ngStyle]="{'font-size': usingSidenav? '' : '1.25rem'}">{{item.name}}</p>
                </div>
                
                }
            </div>
        </section>
        }

        @if (cosmetic.showcaseVideo) {
        <section class="pad-2 flex-col card" [ngClass]="{'video-area': !usingSidenav}">
            <h2>Showcase video</h2>
            <div class="flex-row centered">
                <youtube-player [width]="usingSidenav? 320 : 720" #player
                    [videoId]="cosmetic.showcaseVideo"></youtube-player>
            </div>
        </section>
        }
    </div>
</div>