<div class="item-container">
    <div class="img-area">
        <header class="icon-container">
            @if (variantImgs && variantImgs.length > 0) {
            <mat-icon class="variants-icon" [matMenuTriggerFor]="variantMenu">
                add
            </mat-icon>
            <mat-menu #variantMenu>
                @for (variantImg of variantImgs; track $index) {
                <img [src]="variantImg" alt="A variant for this cosmetic">
                }
            </mat-menu>
            }
        </header>
        <img [className]="'item-img ' +rarity+'-img '" class="item-img" src={{image}} 
            [ngStyle]="{'background-image': seriesBackground? seriesBackground : 'linear-gradient' + '(-45deg,' + getGradientColors() + ')'}" 
            alt="A cosmetic's appearance"> <!-- If the item has a background img, sets is as background, if it doesn't, uses the color gradient -->
        @if (price > 0) {
        <footer class="price-area">
            <img class="vbucks" src="assets/vbucks.png" alt="V-Bucks icon">
            <p [className]="'price '+ rarity+'-p'">{{ price }}</p>
        </footer>
        }
    </div>
    <p>{{ itemName }}</p>
</div>