<div class="item-container">
    <div class="img-area">
        <img [className]="isJamTrack ? 'item-img ' + 'track' : 'item-img ' +rarity+'-img '" class="item-img" src={{image}} alt="A cosmetic's appearance">
        @if (price > 0) {
            <footer class="price-area">
                <img class="vbucks" src="assets/vbucks.png" alt="V-Bucks icon">
                <p [className]="'price '+ rarity+'-p'" >{{ price }}</p>
            </footer>
        }
    </div>
    <p>{{ itemName }}</p>
</div>
