<div class="item-container">
    <div class="img-area">
        <header class="icon-container">
            @if (variantImgs && variantImgs.length > 0) {
            <mat-icon class="variants-icon" [matMenuTriggerFor]="variantMenu">
                add
            </mat-icon>
            <mat-menu #variantMenu>
                @for (variantImg of variantImgs; track $index) {
                <img [src]="variantImg" alt="A variant for this cosmetic">
                }
            </mat-menu>
            }
        </header>
        <img [className]="this.colorGradient.length == 0 ? 'item-img ' +rarity+'-img ' : 'item-img'" class="item-img"
            src={{image}} [ngStyle]="{
                'background-image': seriesBackground? seriesBackground : this.colorGradient.length > 0 ? 'linear-gradient' + '(-45deg,' + getGradientColors() + ')' : '',
                'border-color': this.colorGradient.length > 0 ? '#' + this.colorGradient[0] : '',
                'width': usingSidenav? '128px' : '264px'
                }" alt="Cosmetic's picture">
        <!-- If the item has a background img, sets is as background, if it doesn't, uses the color gradient -->
        <!-- If the item has a color gradient, uses the 1st color in it as the border color -->
        @if (price > 0) {
        <footer class="price-area">
            <img class="vbucks" src="assets/vbucks.png" alt="V-Bucks icon">
            <p [className]="'price '+ rarity+'-p'">{{ price }}</p>
        </footer>
        }
    </div>
    <div class="name-container"
        [ngStyle]="{
            'max-width': usingSidenav? '136px': '272px'
        }">
        <p>{{ itemName }}</p>
    </div>
</div>