.sidenav-container {
    background-color: transparent;
}

mat-sidenav {
    background-color: var(--secondary);
    max-width: 14rem;
    font-size: 1.5rem;
    overflow: hidden;
    position: fixed;
}

mat-sidenav-container mat-sidenav-content {
    overflow-x: hidden;
}

.fixed {
    position: fixed;
}

.search-fixed {
    position: fixed;
    margin-top: 3rem;
}

.transparent-bg {
    background-color: transparent;
}

button.secondary {
    background-color: var(--secondary);
}

.vertical-container {
    display: flex;
    flex-direction: column;
}

.horizontal-container {
    display: flex;
    flex-direction: row;
}

.toolbar-container {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 3rem;
    position: fixed;
    z-index: 2;
    background-color: var(--secondary);
}

mat-toolbar {
    display: flex;
    flex-direction: row;
    background-color: var(--secondary);
    column-gap: 1rem;
    position: fixed;
    width: 80%;
    justify-content: space-evenly;
    height: 3rem;
}

.menu-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

mat-icon {
    color: white;    
}