<main class="main-container">
    <section class="cosmetics-container">
        <div class="text-container">
            <h1>{{ title }}</h1>
            <h3>Ordered {{ orderText }}</h3>
        </div>
        <div class="text-container">
            <h3>{{ description }}</h3>
        </div>
        <app-cosmetic-list
            [allCosmetics]="allCosmetics"
            [allAux]="allAux"
            [brItems]="brItems"
            [beans]="beans"
            [legoSkins]="legoSkins"
            [cars]="cars"
            [instruments]="instruments"
            [jamTracks]="jamTracks"            
        ></app-cosmetic-list>
    </section>
</main>