<main class="main-container">
    <section class="cosmetics-container">
        <h1>Latest cosmetics</h1>
        <div class="cosmetics-list">
            <app-cosmetic-item 
                [image]="'/assets/wolverine.png'" 
                [itemName]="'Wolverine (Pen & Ink)'"
                [price]="2000"
                [rarity]="'marvel'"
                >                
            </app-cosmetic-item>

            <app-cosmetic-item 
                [image]="'/assets/wolverine.png'" 
                [itemName]="'Wolverine (Pen & Ink)'"
                [price]="2000"
                [rarity]="'slurp'"
                >                
            </app-cosmetic-item>

            <app-cosmetic-item 
                [image]="'/assets/wolverine.png'" 
                [itemName]="'Wolverine (Pen & Ink)'"
                [price]="2000"
                [rarity]="'dark'"
                >                
            </app-cosmetic-item>

            <app-cosmetic-item 
                [image]="'/assets/wolverine.png'" 
                [itemName]="'Wolverine (Pen & Ink)'"
                [price]="2000"
                [rarity]="'lava'"
                >                
            </app-cosmetic-item>
        </div>
    </section>
</main>