mat-drawer {
    display: flex;
}

.option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    cursor: pointer;
}

p, mat-icon {
    color: white;
    text-align: center;
}

p, .icon {
    text-align: center;
}

button.mat-menu-item {
    background-color: var(--secondary);
}