@if (!hasSuboptions()) {
<div class="option">
    <mat-icon>{{ icon }}</mat-icon>
    <p>{{ text }}</p>
</div>
} @else {
<div class="option" [matMenuTriggerFor]="submenu">
    <mat-icon>{{ icon }}</mat-icon>
    <p>{{ text }}</p>
    <mat-icon>arrow_forward_ios</mat-icon>

    <mat-menu #submenu xPosition="after" yPosition="above" class="submenu">
        @for (suboption of suboptions; track $index) {
        <button mat-menu-item class="mat-menu-item">
            <mat-icon class="icon">{{ suboption.icon }}</mat-icon>
            <p class="option-text" >{{ suboption.text }}</p>
        </button>
        }
    </mat-menu>
</div>
}