mat-drawer {
    display: flex;
}

.option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    cursor: pointer;
    height: 3rem;
}

a {
    text-decoration: none;
}

a, p, mat-icon {
    color: white;
    text-align: center;
    font-size: 1.25rem;
}

a, p, .icon {
    text-align: center;
}

.active-route {
    font-weight: bold;
}

button.mat-menu-item {
    background-color: var(--secondary);
    height: 3rem;
}