<div class="search-container">
    <app-search-bar></app-search-bar>
</div>
<div class="gamemode-filter-container">
    <mat-button-toggle-group name="typeFilters" [hideMultipleSelectionIndicator]="true" multiple
        (change)="filterCosmetics($event)">
        <mat-button-toggle value="{{gamemode.BattleRoyale}}" [checked]="true" [disabled]="atSearch()" >
            <img class="gamemode-logo" src="/assets/gamemodes/brlogo.png" alt="Battle Royale logo">
        </mat-button-toggle>
        <mat-button-toggle value="{{gamemode.RocketRacing}}" [checked]="!atSearch()" [disabled]="atSearch()">
            <img class="gamemode-logo" src="/assets/gamemodes/rocketracinglogo.PNG" alt="Rocket Racing logo">
        </mat-button-toggle>
        <mat-button-toggle value="{{gamemode.Festival}}" [checked]="!atSearch()" [disabled]="atSearch()" >
            <img class="gamemode-logo" src="/assets/gamemodes/festivallogo2.png" alt="Festival logo">
        </mat-button-toggle>
        <!-- <mat-button-toggle>Outfits</mat-button-toggle>
                    <mat-button-toggle>Back blings</mat-button-toggle>
                    <mat-button-toggle>Pickaxes</mat-button-toggle>
                    <mat-button-toggle>Emotes</mat-button-toggle>
                    <mat-button-toggle>Gliders</mat-button-toggle>
                    <mat-button-toggle>Contrails</mat-button-toggle>
                    <mat-button-toggle>Wraps</mat-button-toggle>
                    <mat-button-toggle>Sprays</mat-button-toggle>
                    <mat-button-toggle>Lobby music packs</mat-button-toggle>
                    <mat-button-toggle>Banners</mat-button-toggle>
                    <mat-button-toggle>Emojis</mat-button-toggle> -->
    </mat-button-toggle-group>
</div>

@if (currentRoute == "latest") {
<div class="cosmetics-list">
    @if (allCosmetics.length == 0) {
        <h3>No items found!</h3>
    } @else {
        @for (cosmetic of allCosmetics; track $index) {
            <!-- Validation for undefined elements -->
            @if (cosmetic) {
            <!-- Validation for Placeholder items and jam tracks (which have the field 'title' instead of 'name') -->
            <app-cosmetic-item 
                [id]="cosmetic.id"
                [itemName]="cosmetic.name == 'null' ? 'Placeholder item' : 
                        cosmetic.title ? cosmetic.title + ' - ' + cosmetic.artist : cosmetic.name" [image]="checkImageType(cosmetic)"
                [rarity]="cosmetic.rarity ? cosmetic.rarity.value : ''"
                [images]="isBrItem(cosmetic) ? getBrItemImages(cosmetic, this.legoSkins, this.beans) : [] "
                [variantImgs]="isBrItem(cosmetic) ? getBrItemVariants(cosmetic) : [] "
                [seriesBackground]="getItemSeriesBackground(cosmetic)" [colorGradient]="getItemColorGradient(cosmetic)"
                [type]="getCosmeticType(cosmetic)" [BrItem]="isBrItem(cosmetic)">
            </app-cosmetic-item>
            }
            }
    }
</div>
}

@if (currentRoute == "all" || currentRoute == "search"){
    <div class="cosmetics-list">
        @if (currentCosmetics.length == 0) {
            <h3>No items found!</h3>
        } @else {
            @for (cosmetic of currentCosmetics; track $index) {
                @if (cosmetic) {
                <app-cosmetic-item 
                [id]="cosmetic.id"
                [itemName]="cosmetic.name == 'null' ? 'Placeholder item' : 
                    cosmetic.title ? cosmetic.title + ' - ' + cosmetic.artist : cosmetic.name" [image]="checkImageType(cosmetic)"
                    [rarity]="cosmetic.rarity ? cosmetic.rarity.value : ''"
                    [images]="isBrItem(cosmetic) ? getBrItemImages(cosmetic, this.legoSkins, this.beans) : [] "
                    [variantImgs]="isBrItem(cosmetic) ? getBrItemVariants(cosmetic) : [] "
                    [seriesBackground]="getItemSeriesBackground(cosmetic)" [colorGradient]="getItemColorGradient(cosmetic)"
                    [type]="getCosmeticType(cosmetic)" [BrItem]="isBrItem(cosmetic)">
                </app-cosmetic-item>
                }
            }
        }
        
    </div>
    @if (currentCosmetics.length < allCosmetics.length) {
        <div class="btn-container">
            <button type="button" mat-button (click)="loadMore()">
                <mat-icon>add</mat-icon>
                Load more
            </button>
        </div>
    }
}

@if (currentRoute == "shop") {
    <div class="cosmetics-list">
        @if (allCosmetics.length == 0) {
            <h3>No items found!</h3>
        } @else {
                @for (entry of shopEntries; track $index) {
                    <app-shop-entry 
                        [entry]="entry" 
                        [legoSkins]="legoSkins" 
                        [beans]="beans">
                    </app-shop-entry>
                }
        }
    </div>
}