/* You can add global styles to this file, and also import other style files */
:root {
    --bg: #051232;
}

body {
    background-color: var(--bg);
    font-family: 'Karla', serif;
    color: white;
}