/* You can add global styles to this file, and also import other style files */
:root {
    --bg: #051232;
    --secondary: #3661CF;
}

body {
    background-color: var(--bg);
    font-family: 'Karla', serif;
    color: white;
}

button mat-icon {
    text-align: center;
}

body mat-sidenav-content {
    background-color: var(--bg);
    font-family: 'Karla', serif;
    color: white;
}

html, body { height: 100%; }
